/* Animación de scroll infinito */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Pausa la animación al hacer hover */
.animate-scroll:hover {
  animation-play-state: paused;
}
