/* Animación de scroll infinito fluida */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.animate-scroll {
  animation: scroll 45s linear infinite;
  will-change: transform;
}

/* Pausa la animación al hacer hover */
.animate-scroll:hover {
  animation-play-state: paused;
}
